<!doctype html>

<html lang="ru" xmlns:th="https://thymeleaf.org">

	<head>
		<meta charset="utf-8">

		<title>BeautyNet</title>
		<meta name="description" content="Социальная сеть Красоты">
		<meta name="author" content="Селявин Никита">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />

		<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	</head>
	
	<body>
		<!--Header-->
		<header class="header">
			
		</header>
		<!--End Header-->
		<main class="page">
		<div class="container">
			
			<div class="login">
				<div class="login_logo">
					<img src="img/404.png" alt="BeautyNet logo">
				</div>
				<div class="login_form">
					<h1>Ууупс! 404</h1>
					<h3>К сожалению, такой страницы не существует.</h3>
					
					<div class="regak-link">
						<a href="/">На главную</a>
					</div>
				</div>
			</div>
		</div>
			
		</main>
		<footer class="footer">
			
		</footer>

		
		<script src="js/main.js"></script>
	</body>

</html>
