<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <script th:src="@{/styles/cssandjs/main.js}"></script>
</head>
<body>
<!--Header-->
<header class="header">
    <div class="top-panel">
        <div class="top-panel_logo">
            <a href="/"><img th:src="@{/img/logo-1.png}" alt=""></a>
        </div>
        <div class="top-panel_link">
            <a href="">Forum</a>
        </div>
        <div id="clel" class="top-panel_user">
            <div class="top-panel_user_name">User Name</div>
            <div class="top-panel_user_foto">
                <img th:src="@{/img/user/1.jpg}" alt="">
            </div>
        </div>
        <div id="elmenu" class="top-panel_menu">
            <ul class="top-panel_menu_list">
                <li><a href="">Profile</a></li>
                <hr style="width: 70%;">
                <li><a href="">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<!--End Header-->

<main class="page">
    <div class="container">
        <div>Add post</div>
        <!-- Форма добалвения поста. Ну всякие лейблы, переносы строк, все по красоте -->
          <form id="post_form" class="login_form" th:method="POST" th:action="@{/post/addpost}" th:object="${postDTO}" enctype="multipart/form-data">
            <input class="login_form_input" type="text" name="title" th:field="*{title}" placeholder="Title"/><br>
            <input class="login_form_input" type="text" name="brand" th:field="*{brand}" placeholder="Brand"/><br>
            <input class="login_form_input" type="file"name="file" th:field="*{image}" placeholder="uploadImage"/><br>
            <input class="login_form_input" type="text" name="description" th:field="*{description}" placeholder="Description" style="height: 45px"/><br>
            <input class="login_form_input" type="text"name="username" th:field="*{username}" placeholder="Username"/><br>

              <ul id="inputed-tags"></ul>
              <input type="hidden" name="tagsStr" th:field="*{tagsStr}" id="tagsForm">
              <input id="tags-input" class="login_form_input" maxlength="25" type="text" onkeypress="return addTag(event)" autocomplete="off" placeholder="Tags"><br>
              <input type="button" value="Создать" onclick="this.parentNode.submit();">
          </form>
    </div>
</main>
<footer class="footer">
</footer>
</body>
</html>