body{
	margin: 0;
	background: #f2f2f2;
}
h1{
	text-align: center;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.login{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 150px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.login_logo {
	text-align: center;
}
.login_logo img {
	width: 100%
}

.login_form{
	background: #fff;
	text-align: center;
	padding: 0 20px 20px;
	border-radius: 3px;
}

.login_form_input{
	margin-top: 30px;
	
}
.login_form_input input{
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}
.login_form_input_button{
	margin-top: 30px;
}
.login_form_input_button button{
	width: 95%;
	border: 1px solid #9A3183;
	border-radius: 3px;
	background: #9A3183;
	color: #fff;
	padding: 10px;
	font-size: 17px;
	cursor: pointer;
}
.forgot-pass{
	font-size: 14px;
}
.forgot-pass a{
	text-decoration: none;
	color: #9a3183;
}
.regak-link {
	border: 1px solid #9a3183;
	width: 90%;
	margin: 20px auto 10px;
	padding: 10px;
}
.regak-link a {
	text-decoration: none;
	color: #000;
}

/*/////////////////*/
@media (max-width: 768px){
	.login{
		margin: 0;
	}
	.login_logo{
		width: 42%
	}
}